<div class="container-fluid">
    <div class="row">
        <h2>Realtime Chat Application</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="currentUser" class="form-control" id="username" placeholder="Enter username">
                <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <button (click)="submit()">Submit</button>

            </div>
        </div>
    </div>
    <div class="row">
        <h1>Hello {{currentUser}}</h1>
    </div>

    <div class="row">
        <p>List of Online Users</p>
        <div *ngFor="let user of onlineUser">
            <li *ngIf="user.user !=currentUser">{{user.user}} <br> <br>
                <button (click)="invite(user)">Invite</button>
            </li>
        </div>
    </div>

    <div class="row">
        <p>List of Invitation</p>
        <div *ngFor="let user of invitationList; let i = index;">
            <li>{{user.user}} Wants to Chat with you. <br> <br>
                <button (click)="accept(i)">Accept</button>
            </li>
        </div>
    </div>

    <br><br><br>
    <div class="row" *ngFor="let room of chatBox;let i = index;">
        <br><br>
        <div class="col-md-6">
            Room Name: {{room.id}} Opponent Name: {{room.opponent}}
            <div class="form-group">
                <div>
                    Chat Messages <button (click)="leave(room)">Leave This Chat</button>
                    <div *ngFor="let message of room.message">{{message.user}} : {{message.message}}<br></div>
                </div>
            </div>
        </div>
        Write Message for Room {{room.id}}: <input type="text" [(ngModel)]="message"> <button (click)="onMessage(room)">submit message</button>
    </div>

</div>